// ==========================================================================
// VARIABLES
// ==========================================================================

// Text colours
$paragraph-color: #333;

$page-bg-color: #fafafa;

//sidebar
$sidebar-bg-color: #3D4F5D;
$sidebar-paragraph-color: #fafafa;

$sidebar-heading-color: $sidebar-paragraph-color;
$sidebar-subheading-color: #B0CADB;