/* CONTENT */
.content {
	padding: 2em 1em 0;
}

.loader {
	font-size: 80%;
}

.content-subhead {
	text-transform: uppercase;
	color: #aaa;
	border-bottom: 1px solid #eee;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

@media screen and (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}
}

.chart {
	width: 100%;
	margin: 0 auto;
}

.pure-menu {
	&.pure-menu-open {
		background: transparent;
		border: none;
	}

	& li a {
		padding: 5px;
		color: rgb(61, 79, 93);
	}
}