/* GENRAL CONTENT AREA */
.content {
	padding: 2em 1em 0;
}

.content-subhead {
	text-transform: uppercase;
	color: $content-heading-color;
	border-bottom: 1px solid $border-color;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

@media screen and (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}
}

.loader {
	display: block;
	margin-top: 1em;
	font-size: 80%;
}