/* SIDEBAR */
.sidebar {
	background: $sidebar-bg-color;
	color: $sidebar-paragraph-color;
}

.header {
	text-align: center;
	top: auto;
	margin: 2em 1em;

	.talk-title,
	.talk-context {
		margin: 0;
	}
	.talk-title {
		font-size: 1.75em;
	}
	.talk-context {
		font-weight: 300;
		font-size: 1.2em;
		color: $sidebar-subheading-color;
	}

	.talk-title a {
		text-decoration: none;
		color: $sidebar-link-color;
	}

	.talk-title a:hover,
	.talk-title a:focus {
		color: $sidebar-link-color-hover;
		text-decoration: underline;
	}
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-item {
	display: block;
	*display: inline;
	zoom: 1;

	& a {
		background: transparent;
		border: 2px solid $nav-item-border-color;
		color: $sidebar-link-color;
		margin-top: 1em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-size: 70%;

		&:hover,
		&:focus {
			background-color: $nav-item-bg-color-hover;
			border: 2px solid $nav-item-border-color-hover;
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 48em) {
	.header {
		text-align: right;
	}

	.nav-item {
		display: inline-block;

		a {
			font-size: 85%;
		}
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}
}